.videocard {

}

.videocard__image {
    width: 250px;
    object-fit: cover;
    height: 140px;
}

.videocard__info {
    display: flex;
}

.videocard__text {

}

.videocard__text > h4 {
    width: 100%;
    font-size: 1em;
    font-weight: 100;
    margin-bottom: 5px;
}

.videocard__text > p {
    font-size: 14px;
    color: gray;
    width: 100%;
}

.videocard__avatar {
    height: 30px !important;
    width: 30px !important;
}

.videocard__text > * {
    margin: 1px;
}