.videocard {
    position: relative;
}

.videocard__image {
    width: 250px;
    object-fit: cover;
    height: 140px;
}

.videocard__info {
    display: flex;
    position: absolute;
    font-weight: 700;
    line-height: 1.2;
    width: 145px;
    height: 160px;
    bottom: 10px;
    left: -60px;
    transform: translateZ(30px);
    justify-content: space-around;
}

.videocard__text {
    padding: 11px;
    margin: -11px;
    background-clip: border-box;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    display: inline-block;
}

.videocard__text .divider {
    width: 100%;
    height: 3px;
    background-color: #fff;
    margin: 10px 1px 13px;
}

.videocard__text > h4 {
    width: 100%;
    font-size: 1em;
    font-weight: 100;
    margin-bottom: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.videocard__text > p {
    font-size: 14px;
    color: gray;
    width: 100%;
}

.videocard__avatar {
    height: 30px !important;
    width: 30px !important;
}

.videocard__text > * {
    margin: 1px;
}