.videos {
    padding: 0;
    width: 100vw;
}

.videos .header {
    grid-area: header;
    background-color: lightblue;
}

.videos > h2 {
    margin-left: 5px;
    margin-bottom: 20px;
}

.videos__videos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-gap: 1rem;
    padding: 40px 100px;
    padding-bottom: 0px;
}

.videos__videos > div {
    padding: 1rem;
    max-height: 285px;
}